body{
	background: #999;	
	text-align: center;
	font-size: 95%;
	font-family: 'Calibri', Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
}

.maincontainer {
	margin: 0 auto;
	right: auto;
	bottom: auto;
	width: 310px;
	height: 350px;
	background-color: #66C285;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
}

.patterncontainer {
	margin-left: 32.5px;
	position: absolute;
	width: 225px;
	height: 225px;
	background: #66C285;
	padding: 7.5px;
	border-radius: 10px;
}

.heading {
	padding-top: 5%;
}

.button {
	width: 30px;
	height: 30px;
	background: #FFF;
	border-radius: 50%;
	margin: 22.5px;	
	float: left;
}

.activebutton {
	width: 10px;
	height: 10px;
	background: #FFF;
	border-radius: 50%;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(114, 160, 204, 1);
	margin: 22.5px;	
	float: left;
	-webkit-box-shadow: 0px 0px 15px 5px #FFF;
	-moz-box-shadow: 0px 0px 15px 5px #FFF;
	box-shadow: 0px 0px 15px 5px #FFF;
}

.duplicatebutton {
	width: 10px;
	height: 10px;
	background: #FFF;
	border-radius: 50%;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(255, 102, 51, 1);
	margin: 22.5px;	
	float: left;
	-webkit-box-shadow: 0px 0px 15px 5px #FFF;
	-moz-box-shadow: 0px 0px 15px 5px #FFF;
	box-shadow: 0px 0px 15px 5px #FFF;
}

.button-reset {
	margin: 20px;
	width: 170px;
	height: 50px;
	color: #FFF;
	border-radius: 5px;
	border-width: 1px;
	border-color: #FFF;
	text-decoration: none;
	font-size: 16px;
	padding: 15px;
	background-color: #FA8258;
}

.button-lockscreen {
	margin: 20px;
	width: 170px;
	height: 50px;
	color: #FFF;
	border-radius: 5px;
	border-width: 1px;
	border-color: #FFF;
	text-decoration: none;
	font-size: 16px;
	padding: 15px;
	background-color: #2E9AFE;
}